<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Registro</title>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ asset('css/register.css') }}" />  
</head>
<body>
    <div class="container-fluid mt-3 mb-3">
        <div class="row mt-1 fila-1 justify-content-end ml-1">
            <div class="col-7">
                <a href="/login" class"a-none">
                    <div class="row">
                        <img class="img-fluid fila-1-img" id="i-volver" src="{{ asset('imagenes/ICONS/go-back.svg') }}" alt="volver" />
                        <label class="mt-2" for="i-volver">Volver</label>
                    </div>
                </a>
            </div>
            <div class="col-5 fila1-2">
                <a href="/login" class"a-none">
                    <div class="row justify-content-end mr-1">
                        <label for="user-nuevo" class="mt-2"><u>Ya tengo cuenta</u></label>
                        <img id="user-nuevo" class="img-fluid fila-1-img" src="{{ asset('imagenes/ICONS/User-plus.svg') }}" alt="user" />
                    </div>
                </a>
            </div>
            <div class="col-12 fila1-3 mt-5">
                <div class="row justify-content-center align-items-center">
                    <img class="img-fluid" src="{{ asset('imagenes/IMAGES/Nutritienda-simple_logo.svg') }}" alt="Nutritienda">
                </div>
            </div>
            <div class="col-12 fila1-3 mt-5">
                <div class="row justify-content-center align-items-center">
                    <h3>Crear nueva cuenta</h3>
                </div>
            </div>
            <div class="col-12 fila1-3 ">
                <div class="row justify-content-center align-items-center">
                    <span class="text-fila1-3">Únete y disfruta de todas las ventajas: pedidos rápidos, descuento, promociones, beneficios y muchos más!</span>
                </div>
            </div>
        </div>
        <div class="row fila1-3 justify-content-center mt-4 servicios">
            <div class="col-2">
                <img class="img-servicios class" id="img-camion" src="{{ asset('imagenes/ICONS/Delivery.svg') }}" alt="Camión">
                <label for="img-camion">ENVÍO GRATUITO</label>
            </div>
            <div class="col-2">
                <img class="img-servicios class" id="img-precio" src="{{ asset('imagenes/ICONS/best_price.svg') }}" alt="Precio">
                <label for="img-precio">MEJOR PRECIO</label>
            </div>
            <div class="col-2">
                <img class="img-servicios class" id="img-candado" src="{{ asset('imagenes/ICONS/lock.svg') }}" alt="Candado">
                <label for="img-candado">PAGO 100% SEGURO</label>
            </div>
            <div class="col-2">
                <img class="img-servicios class" id="img-oferta" src="{{ asset('imagenes/ICONS/Superprice.svg') }}" alt="Oferta">
                <label for="img-oferta">OFERTAS EXCLUSIVAS</label>
            </div>
        </div>
        <div class="row fila2 mt-3">
            <hr /><label class="text-fila-2 pt-2">ACCESO RÁPIDO CON REDES SOCIALES</label>
            <hr />
        </div>
        <div class="row fila3 justify-content-center mt-3">
            <img class="" src="{{ asset('imagenes/IMAGES/connect-Facebook-42px.svg') }}" alt="Facebook">
            <img class="ml-4 mr-4" src="{{ asset('imagenes/IMAGES/connect-Google-42px.svg') }}" alt="Google">
            <img class="" src="{{ asset('imagenes/IMAGES/connect-Twitter-42px.svg') }}" alt="Twitter">
        </div>
        <div class="row fila3 mt-3">
            <hr /><label class="text-fila-2 pt-2">ACCESO CON EMAIL Y CONTRASEÑA</label>
            <hr />
        </div>
        <div class="row fila4 mt-3">
            <form action="/register/registrarusuario"  method="post" class="col-12">
                <div class="row p-3">
                    <div class="form-check form-check-inline col-3">
                        <input class="form-check-input fa-2x" type="radio" name="sexo" id="i-hombre" value="Hombre"
                            required />
                        <label class="form-check-label l-radio-text" for="i-hombre">Hombre</label>
                    </div>
                    <div class="form-check form-check-inline col-2 mr-4">
                        <input class="form-check-input fa-2x" type="radio" name="sexo" id="i-mujer" value="Mujer"
                            required />
                        <label class="form-check-label l-radio-text" for="i-mujer">Mujer</label>
                    </div>
                    {% if listadoidioma != null %}
                    <div class="form-group col mb-3 ml-3">
                        <label class="l-input-text" for="i-idioma">Idioma</label>                 
                        <select id="i-idioma" class="form-control" name="idioma" >
                           {% for idioma in listadoidioma %}
                                <option  value='{{idioma.ididioma}}' {% if idioma.ididioma==1 %}selected{% endif %}> {{ idioma.descripcion }} </option>
                            {% endfor %}
                        </select>
                    </div>
                    {% else %}
                    <input type="hidden" name="idioma" id="i-idioma" value=""> 
                    {% endif %}
                </div>
                <div class="row">
                <div class="form-group col-6">                   
                    <label class="l-input-text" for="inputNombre">Nombre</label>                 
                    <input type="text" name="nombre" class="form-control" id="i-nombre" required>
                </div>
                <div class="form-group col-6">
                    <label class="l-input-text" for="i-apellidos">Apellidos</label>
                    <input type="text" name="apellidos" class="form-control" id="i-apellidos" required>
                </div>
                <div class="form-group col-6">
                    <label class="l-input-text">Fecha Nacimiento</label>
                    <div class="row pl-3">
                        <select id="year" class="fecha form-control col-3" name="ano" required> <!-- Los años se cargan con javascript y jquery -->
                            <option value="" disabled selected>Año</option>
                        </select>
                        <select id="mes" class="fecha form-control col-5 mr-1 ml-1" name="mes" required>
                            <option value="" disabled selected>Mes</option>
                        </select>
                        <select  id="dia" class="fecha form-control col-3 "  name="dia" required> <!-- Los años se cargan con javascript y jquery -->
                            <option value="" disabled selected>Día</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="fechaNacimiento" id="i-fNacimiento" value="">
                <div class="form-group col-6">
                    <label class="l-input-text" for="i-email">Email</label>
                    <input type="email" name="email" class="form-control" id="i-email"  placeholder="EJ: tu@email.com" required >
                </div>
                <div class="form-group col-6">
                    <label class="l-input-text" for="inputPassword">Contraseña</label>
                    <div class="input-group">
                        <input id="txtPassword"  title="La contraseña debe tener al menos 2 números, 1 mayúscula, 1 minúscula,  símbolo y 7 carácteres." name="password" type="Password" class="form-control" required>
                        <div class="input-group-append">
                            <img id="img-password" class="btn-password img-fluid" src="{{ asset('imagenes/ICONS/hide.svg') }}" alt="show"> 
                        </div>
                    </div>
                    <small>Tiene que contener 1 dígito, 1 minúscula, 1 mayúscula y una lon(7-12).</small>
                </div>
                <div class="form-group col-6">
                    <label class="l-input-text" for="txtRepetir">Repetir contraseña</label>
                    <div class="input-group">
                        <input id="txtRepetir" title="Las contraseñas tienen que ser la misma." name="repetir" type="Password" Class="form-control" required>
                        <div class="input-group-append">
                            <img id="img-repetir" class="btn-password img-fluid" src="{{ asset('imagenes/ICONS/hide.svg') }}" alt="show"> 
                        </div>
                    </div>
                    <small>Las contraseñas tienen que ser las mismas.</small>
                </div>
                <div class="form-group col-12">                   
                    <label for="i-datosAdicionales" class="l-input-text">Datos Adicionales</label>
                    <textarea class="form-control" id="datosAdicionales" name="datosAdicionales"
                        style="resize: none;"></textarea>
                </div>
                <div class="form-group col-6">                   
                    <label class="l-input-text" for="i-telefono">Teléfono</label> 
                    <input type="text" class="form-control"  name="telefono" id="i-telefono" required>
                </div>
                {% if listadopaises != null %}
                <div class="form-group col-6">
                        <label class="l-input-text" for="i-pais">País</label>                 
                        <select id="i-pais" class="form-control" name="pais" >
                            {% for pais in listadopaises %}
                            <option  value='{{pais.idpais}}' {% if pais.idpais==1 %}selected{% endif %}> {{ pais.nombre }} </option>
                            {% endfor %}
                        </select>
                </div>
                {% else %}
                <input type="hidden" name="pais" id="i-pais" value="">
                {% endif %}
                {% if listadoprovincia != null %}
                <div class="form-group col-6">
                    <label class="l-input-text" for="i-provincia">Provincia</label>
                    <select id="i-provincia" class="form-control" name="provincia">
                        {% for provincia in listadoprovincia %}
                            <option class="o-provincia" value='{{provincia.idprovincia}}' {% if provincia.idprovincia==1 %}selected{% endif %}> {{ provincia.nombre }} </option>
                        {% endfor %} 
                    </select>
                </div>
                {% else %}
                <input type="hidden" name="provincia" id="i-provincia" value="">
                {% endif %}
                <div class="form-group col-6">                   
                    <label class="l-input-text" for="i-ciudad">Ciudad</label>             
                    <input type="text" class="form-control" name="ciudad" id="i-ciudad">
                </div>
                <div class="form-group col-6">                   
                    <label class="l-input-text" for="i-direccion">Dirección</label>     
                    <input type="text" class="form-control"  name="direccion" id="i-direccion" >
                </div>
                <div class="form-group col-6">                   
                    <label class="l-input-text" for="i-codigoPostal">CódigoPostal</label>           
                    <input class="form-control" value="0"  type="number" name="codigoPostal" id="i-codigoPostal" required>
                </div>
                <div class="form-check col-6 mt-3">
                    <label class="custom-radio-checkbox">
                        <!-- Input oculto -->
                        <input class="custom-radio-checkbox__input" type="checkbox" name="suscripción" value="">
                        <!-- Imagen en sustitucion -->
                        <span class="custom-radio-checkbox__show custom-radio-checkbox__show--checkbox"></span>
                        <!-- Texto -->
                        <span class="l-check custom-radio-checkbox__text">Suscríbete a la Newsletter</span>
                    </label>
                    <br/>
                     <span class=" check-text-info">
                            Acceso exclucivo a noticias, nuevos productos, descuentos, sorteos y promociones especiales.
                    </span>
                </div>
                <div class="form-check col-6 mt-3">
                    <label class="custom-radio-checkbox">
                        <!-- Input oculto -->
                        <input id="check-confirmacion" class="custom-radio-checkbox__input" type="checkbox" name="confirmacion" value="" required>
                        <!-- Imagen en sustitucion -->
                        <span id="cuadro-confirmacion" class="custom-radio-checkbox__show custom-radio-checkbox__show--checkbox"></span>
                        <!-- Texto -->
                        <span id="text-confirmacion" class="l-check custom-radio-checkbox__text">Confirmo que he leído y acepto la política de privacidad</span>
                    </label>
                    <div id="error-confirmacion" class="alerta"></div>

                </div>
            </div>
            <div class="col-12 mb-3 mt-2">
                    <button class="btn-pink btn " type="submit">Regístrate</button>
            </div>
        </form>
    </div>
<script src="{{ asset('js/register.js') }}"></script>
</body>

</html>
        